<p>
  You have requested a password reset on your Glee Club account. Please click
  <a href="https://gleeclub.gatech.edu/glubhub/#/reset-password/<% @new_token %>">
    here
  </a>
  to reset your password.
</p>
